* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px 0;
}

.df {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.history-list,
.todo-list {
  background-color: #914897;
  width: 50%;
  border: 1px solid #6b3570;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.25),
    0 10px 0 -5px rgb(88, 59, 102), 0 10px 1px -4px rgba(255, 255, 255, 0.25),
    0 20px 0 -10px rgb(88, 59, 102), 0 20px 1px -9px rgba(255, 255, 255, 0.25);
  padding: 30px;
  margin: 0 auto;
}

.history-list p,
.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 1px solid #eee;
  font-family: inherit;
  font-weight: 100;
  font-size: 15px;
  color: #eee;
  margin-bottom: 20px;
}

.todo-item:last-child {
  margin-bottom: 0;
}

.todo-item:first-child {
  padding-top: 0;
}

label {
  user-select: none;
}

input[type="checkbox"] {
  font-size: 30px;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.button {
  font-family: inherit;
  line-height: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 30px;
  color: #ffffff;
  background-color: #9555af;
  cursor: pointer;
  margin: 20px auto;
  transition: all 250ms linear;
}

.button:hover {
  color: #9555af;
  border-color: currentColor;
  background-color: white;
}
